notebooks/
**/catboost_info/
pycache/
**/pycache/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.python-version
.coverage
htmlcov/
.pytest_cache/
.cache/
.tox/
.DS_Store
*.swp
*.swo
*~
*.log
logs/
log/
.git
.github
.gitignore
.gitattributes
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.pydevproject
docs/
pics/
Dockerfile*
docker-compose*
.dockerignore
kubernetes/
LICENSE
README.md
mkdocs.yml
tests/
